@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* Обнуляющий стиль */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: Gilroy;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* -------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* -------------- */

.btn:active,
.social-top-header__link_whatsapp:active,
.social-top-header__link_viber:active,
.social-top-header__link_telegram:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contacts-top-header__phone:hover,
.contacts-top-header__email:hover {
  border-bottom: 1px solid #87b0ee;
}

.card-options:hover,
.item-educational-programs:hover,
.examples__image:hover,
.shares__item:hover,
.shares__btn:hover,
.item-news:hover {
  -webkit-box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
}

/* -------------- */

._container {
  max-width: 1140px;
  margin: 0px auto;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.btn {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#f6bd60), to(#e88952));
  background: -o-linear-gradient(left, #f6bd60 0%, #e88952 100%);
  background: linear-gradient(90deg, #f6bd60 0%, #e88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
  border-radius: 3px;
  padding: 0px 26px;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(100%, #e88952), color-stop(0%, #f6bd60));
  background: -o-linear-gradient(left, #e88952 100%, #f6bd60 0%);
  background: linear-gradient(90deg, #e88952 100%, #f6bd60 0%);
}

.btn_blue {
  background: -webkit-gradient(linear, left top, right top, from(#87aff1), color-stop(100%, #6c80cb), to(#6c80cb));
  background: -o-linear-gradient(left, #87aff1 0%, #6c80cb 100%, #6c80cb 100%);
  background: linear-gradient(90deg, #87aff1 0%, #6c80cb 100%, #6c80cb 100%);
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 50px;
  padding: 0px 65px;
}

.btn_blue:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(100%, #6c80cb), color-stop(0%, #87aff1), to(#6c80cb));
  background: -o-linear-gradient(left, #6c80cb 100%, #87aff1 0%, #6c80cb 100%);
  background: linear-gradient(90deg, #6c80cb 100%, #87aff1 0%, #6c80cb 100%);
}

.btn_big-orange {
  line-height: 50px;
  padding: 0px 69px;
}

.title {
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  color: #333333;
}

.footer__telegram,
.footer__viber,
.footer__whatsapp,
.footer__phone,
.footer__email {
  display: block;
  font-weight: 500;
  font-size: 17px;
  color: #ffffff;
  margin: 0px 0px 25px 0px;
  padding: 0px 0px 0px 35px;
  line-height: 20px;
}

.footer__telegram:hover,
.footer__viber:hover,
.footer__whatsapp:hover,
.footer__phone:hover,
.footer__email:hover {
  text-decoration: underline;
}

.header {
  background: transparent;
  position: relative;
  z-index: 10;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px 20px 0px;
}

.company-top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company-top-header__logo {
  max-width: 135px;
  max-height: 36px;
  padding: 3px 0px;
}

.company-top-header__logo img {
  width: 100%;
}

.company-top-header__info {
  font-weight: 500;
  line-height: 16px;
  max-width: 200px;
  color: #5d5d5d;
  border-left: 1px solid #89afef;
  margin: 0px 0px 0px 28px;
  padding: 0px 0px 0px 25px;
}

.social-top-header__link {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 18px 0px 0px;
}

.social-top-header__link_whatsapp {
  -webkit-box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
          box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
  background: #2dd038 url("../img/header/icons/whatsapp.svg") 50% no-repeat;
}

.social-top-header__link_whatsapp:hover {
  background: #2dd038 url("../img/header/icons/whatsapp.svg") 50%/55% no-repeat;
}

.social-top-header__link_viber {
  -webkit-box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
          box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
  background: #7b519d url("../img/header/icons/viber.svg") 50% no-repeat;
}

.social-top-header__link_viber:hover {
  background: #7b519d url("../img/header/icons/viber.svg") 50%/55% no-repeat;
}

.social-top-header__link_telegram {
  -webkit-box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
          box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
  background: #5bbaf0 url("../img/header/icons/telegram.svg") 50% no-repeat;
}

.social-top-header__link_telegram:hover {
  background: #5bbaf0 url("../img/header/icons/telegram.svg") 50%/55% no-repeat;
}

.social-top-header__link:last-child {
  margin-right: 0;
}

.contacts-top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-top-header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 28px 0px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-top-header__phone {
  font-weight: bold;
  font-size: 20px;
  color: #333333;
  background: url("../img/header/icons/call-answer.svg") 0 0 no-repeat;
  padding: 0px 0px 0px 25px;
  margin: 0px 0px 10px 0px;
  border-bottom: 1px solid transparent;
}

.contacts-top-header__email {
  font-weight: 500;
  font-size: 17px;
  text-align: right;
  color: #333333;
  background: url("../img/header/icons/mail.svg") 0 2px no-repeat;
  margin: 0px 0px 0px 28px;
  border-bottom: 1px solid transparent;
}

.menu {
  padding: 20px 0px 20px 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #333333;
}

.menu__link:hover {
  color: #e88952;
}

._no-webp .promo{
  background: #fafafb url("../img/promo/bg.png") 100% 100% no-repeat; }

.promo {
  min-height: 725px;
  position: relative;
  margin: -180px 0px 0px 0px;
  padding: 260px 0px 180px 0px;
}

.promo__title {
  max-width: 675px;
  font-weight: 900;
  font-size: 40px;
  line-height: 51px;
  color: #333333;
  margin: 0px 0px 40px 0px;
}

.promo__subtitle {
  font-weight: 500;
  font-size: 24px;
  color: #333333;
  margin: 0px 0px 35px 0px;
}

.promo__subtitle span {
  font-weight: 800;
  font-size: 24px;
  color: #333333;
}

.promo__image {
  position: absolute;
  left: 57%;
  bottom: 0;
  z-index: 2;
}

.promo__image img {
  width: 100%;
}

.document-options {
  padding: 50px 0px 40px 0px;
}

.document-options__title {
  margin: 0px 0px 40px 0px;
}

.document-options__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.document-options__column {
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.card-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 190px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  padding: 33px 0px;
  height: 100%;
}

.card-options__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0px 0px 15px 0px;
}

.card-options__icon img {
  max-height: 70px;
  max-width: 100%;
}

.card-options__text {
  max-width: 201px;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #333333;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card-options__opora {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages {
  padding: 40px 0px 60px 0px;
  background: #f6f6f6;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantages__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0px 15px;
}

.item-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #333333;
  height: 100%;
}

.item-advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin: 0px 0px 15px 0px;
}

.item-advantages__icon img {
  max-width: 60px;
  max-height: 60px;
}

.item-advantages__title {
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  margin: 0px 0px 15px 0px;
}

.item-advantages__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  max-width: 201.5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.educational-programs {
  padding: 60px 0px 70px 0px;
}

.educational-programs__title {
  margin: 0px 0px 30px 0px;
}

.educational-programs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -13.5px 35px -13.5px;
}

.educational-programs__column {
  padding: 0px 13.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.item-educational-programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  text-align: center;
  color: #333333;
  padding: 25px;
}

.item-educational-programs__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 19px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 215px;
}

.item-educational-programs__img img {
  max-width: 100%;
  height: 150px;
}

.item-educational-programs__title {
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  max-width: 207px;
}

.item-educational-programs__conditions {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px auto;
  margin: -3px 0px 20px 0px;
}

.item-educational-programs__conditions span {
  color: #53b43b;
  font-weight: 500;
  font-size: 16px;
  -moz-text-align-last: left;
       text-align-last: left;
  background: url("../img/educational-programs/check.svg") 0px 3px/13px 13px no-repeat;
  padding: 0px 0px 0px 17px;
}

.item-educational-programs__price {
  font-weight: 800;
  font-size: 22px;
}

.pagination-educational-programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-educational-programs__link {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #e4e4e4;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
  border: 2px solid #ffff;
}

.pagination-educational-programs__link_active {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #f2f2f2;
  border: 2px solid #84aaed;
}

.pagination-educational-programs__link:hover {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #f2f2f2;
  border: 2px solid #84aaed;
}

.examples {
  padding: 60px 0px 74px 0px;
  background: #f6f6f6;
}

.examples__title {
  margin: 0px 0px 43px 0px;
}

.examples__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 69px;
  margin: 0px -14px;
}

.examples__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.examples__image img {
  max-height: 306px;
  max-width: 100%;
}

.examples__left {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  z-index: 1;
  margin: 0px 0px 0px 14px;
}

.examples__left:hover {
  background: url("../img/examples/icons/leftBlack.svg") 0 0 no-repeat;
}

.examples__right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  z-index: 1;
  margin: 0px 14px 0px 0px;
}

.examples__right:hover {
  background: url("../img/examples/icons/rightBlack.svg") 0 0 no-repeat;
}

.shares {
  padding: 60px 0px 70px 0px;
  text-align: center;
}

.shares__title {
  padding: 0px 0px 35px 0px;
}

.shares__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px 45px -15px;
}

.shares__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.shares__column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.shares__item {
  height: 100%;
}

.shares__item:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.shares__btn {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 46px;
  text-align: center;
  margin: 0px auto;
  text-transform: uppercase;
  color: #6d81cc;
  border: 2px solid #6d81cc;
  border-radius: 3px;
  padding: 0px 60px;
}

.shares__btn:hover {
  -webkit-box-shadow: inset 0 0 5px 3px #6d81cc;
          box-shadow: inset 0 0 5px 3px #6d81cc;
}

._no-webp .gift-shares{
  background: #fafafb url("../img/shares/bg.png") 100% 0 no-repeat; }

.gift-shares {
  padding: 40px 0px 75px 30px;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  position: relative;
}

.gift-shares__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  max-width: 260px;
  margin: 0px 0px 25px 0px;
}

.gift-shares__title span {
  color: #86adef;
}

.gift-shares__text {
  max-width: 235px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.gift-shares__image {
  position: absolute;
  bottom: 26%;
  right: 5%;
  z-index: 2;
  max-width: 250px;
}

.gift-shares__image img {
  width: 100%;
}

.news {
  padding: 60px 0px 60px 0px;
  background: #f2f2f2;
}

.news__title {
  text-align: left;
  margin: 0px 0px 30px 0px;
}

.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px 15px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__column {
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.item-news {
  padding: 27px 23px 23px 24px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  height: 100%;
}

.item-news__image {
  margin: 0px 0px 15px 0px;
  max-height: 146px;
}

.item-news__image img {
  width: 100%;
}

.item-news__date {
  font-weight: 500;
  color: #ababab;
  margin: 0px 0px 10px 0px;
}

.item-news__title {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #333333;
  margin: 0px 0px 10px 0px;
}

.item-news__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.pagination-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-news__link {
  font-weight: bold;
  text-align: center;
  color: #cfcfcf;
  width: 28px;
  height: 28px;
  border: 2px solid #d0d0d0;
  margin: 0px 5px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-news__link_active {
  border: 2px solid #87b0ee;
  color: #87b0ee;
}

.pagination-news__link:hover {
  border-top: 2px solid #87b0ee;
  color: #87b0ee;
}

._no-webp .contacts{
  background: url("../img/contacts/bg.jpg") 10px -170px/63% no-repeat; }

.contacts {
  padding: 90px 0px 70px 0px;
}

.contacts__container {
  position: relative;
}

.contacts__title {
  text-align: left;
  margin: 0px 0px 20px 0px;
}

.contacts__subtitle {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #333333;
  margin: 0px 0px 50px 0px;
}

.contacts__info {
  margin: 0px 0px 50px 0px;
}

.contacts__social {
  margin: 0px 0px 50px 0px;
}

.contacts__qr-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .contacts-top-header__phone {
  margin: 0px 0px 25px 0px;
}

.contacts .contacts-top-header__email {
  text-align: left;
  padding: 0px 0px 0px 25px;
  margin: 0px 0px 10px 0px;
}

.qr-code__image {
  margin: 0px 30px 0px 0px;
}

.qr-code__body {
  padding: 20px 0px;
  max-width: 360px;
}

.qr-code__title {
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  margin: 0px 0px 20px 0px;
}

.qr-code__text {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.form {
  background: #87b0ee;
  -webkit-box-shadow: 0px 2px 6px rgba(38, 54, 77, 0.275514);
          box-shadow: 0px 2px 6px rgba(38, 54, 77, 0.275514);
  padding: 35px 67px 45px 67px;
  max-width: 460px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.form__title {
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 28px 0px;
}

.form__body {
  margin: 0px 0px 27px 0px;
}

.form__input {
  display: block;
  width: 100%;
  margin: 0px 0px 13px 0px;
  height: 42px;
  padding: 0px 15px;
  font-size: 16px;
  color: #333333;
  border-radius: 5px;
}

.form__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #7b7b7b;
}

.form__input::-moz-placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #7b7b7b;
}

.form__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #7b7b7b;
}

.form__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #7b7b7b;
}

.form__input::placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #7b7b7b;
}

.form__input:focus {
  outline: 2px solid #2e75e1;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px 5px #b4cdf4;
          box-shadow: inset 0px 0px 5px 5px #b4cdf4;
}

.form__input:last-child {
  margin: 0px 0px 0px 0px;
}

.form__textarea {
  margin: 0px 0px 17px 0px;
  height: 122px;
  width: 100%;
  resize: none;
  padding: 15px;
  font-size: 16px;
  color: #333333;
  border-radius: 5px;
}

.form__textarea::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #7b7b7b;
}

.form__textarea::-moz-placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #7b7b7b;
}

.form__textarea:-ms-input-placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #7b7b7b;
}

.form__textarea::-ms-input-placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #7b7b7b;
}

.form__textarea::placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #7b7b7b;
}

.form__textarea:focus {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px 5px #b4cdf4;
          box-shadow: inset 0px 0px 5px 5px #b4cdf4;
}

.form__btn {
  line-height: 42px;
}

.footer {
  background: #333333;
  border: 1px solid #979797;
}

.footer__items {
  padding: 55px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.footer__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.footer__social {
  margin: 0px 0px 65px 0px;
}

.footer__telegram {
  background: url("../img/footer/icons/telegram.svg") 0 0 no-repeat;
}

.footer__viber {
  background: url("../img/footer/icons/viber.svg") 0 0 no-repeat;
}

.footer__whatsapp {
  background: url("../img/footer/icons/whatsapp.svg") 0 0 no-repeat;
}

.footer__contacts {
  margin: 0px 0px 45px 0px;
}

.footer__phone {
  background: url("../img/footer/icons/call-answer.svg") 0 0 no-repeat;
  font-size: 19px;
}

.footer__email {
  background: url("../img/footer/icons/mail.svg") 0 0 no-repeat;
}

.footer__btn {
  margin: 0px 0px 65px 0px;
}

.footer__logo {
  max-width: 155px;
  max-height: 45px;
}

.footer__logo img {
  max-width: 100%;
}

.footer__copyright {
  display: block;
  font-weight: 500;
  text-align: center;
  color: #565656;
  padding: 18px 0px;
  border-top: 1px solid #979797;
}

.footer__copyright:hover {
  text-decoration: underline;
}

.item-footer__title {
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
  margin: 0px 0px 40px 0px;
}

.item-footer__link {
  display: block;
  margin: 0px 0px 15px 0px;
  color: #ffffff;
}

.item-footer__link:hover {
  text-decoration: underline;
}

._webp .promo{ background: #fafafb url(../img/promo/bg.webp) 100% 100% no-repeat; }

._webp .gift-shares{ background: #fafafb url(../img/shares/bg.webp) 100% 0 no-repeat; }

._webp .contacts{ background: url(../img/contacts/bg.webp) 10px -170px/63% no-repeat; }